<main>
  
  <div>nosotros</div>
  
    <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, fugit omnis consequuntur aperiam eaque, exercitationem a nihil veritatis soluta deleniti ea illum delectus sed adipisci! Ad laboriosam est distinctio! Totam!</div>
</main>